.title{
    text-align: center;
    font: weight 300;
    margin-top: 20px;
}
.red{
    color: rgba(190, 35, 35, 0.418);
}
.img{
    margin-left: 24.5vw;
    padding-bottom:0.5vw;
    width: 50vw;
    height: 20vw;
}
.video{
    margin-left: 24.5vw; 
    top:0.5vw;
}
